{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="/entry/{{entry.id}}/" title="Click to go to post">{{ entry.title }}</a>
        </h1>
        {{ entry.content | markdown }}
        
        <p>
        <a href="/entry/{{entry.id}}/edit" title="Click here to edit post">Click here to edit</a>
        </p>
        <p>
        <a href="/entry/{{entry.id}}/delete" title="Click here to delete post">Click here to delete</a>
        </p>
    </div>
</div>
{% endmacro %}